#container {
    width:612px;
    margin:0px auto;
}

#sidebar {
    float:left;
    width:150px;
}

#content {
    float:left;
    width:462px;
}

#footer {
    clear:both;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

* {
    font-family: Helvetica, sans-serif;
  }
